# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Cards API
  description: |
    Card is the basic representation for content inside Smart Canvas. Every piece of content hosted 
    in the product was previously cardified. This API allows you to create and get cards from Smart
    Canvas. 
  contact:
    name: Smart Canvas Dev Team
    url: http://www.smartcanvas.com
    email: support@smartcanvas.com
  version: "1.0.0"
# the domain of the service
host: api.smartcanvas.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /{tenant}/cards:
    get:
      summary: Search Cards
      operationId: searchCards
      tags:
        - Cards
      description: |
        The Search Cards endpoint returns a list of cards that matches a
        specific search criteria. All cards returned may also contain information
        such as attachments, user activities (like, dislike, etc) and comments.
      parameters:
        - name: x-access-token
          in: header
          description: Access token required to make this API call
          required: true
          type: string 
        - name: x-auth-token
          in: header
          description: |
            If this request is being made on behalf of a specific person (personId != null), this parameter
            must be provided to avoid getting FORBIDDEN errors.
          required: false
          type: string
        - name: tenant
          in: path
          description: The tenant mnemonic
          required: true
          type: string
        - name: q
          in: query
          description: Search term that will be used to filter content. Example = google cloud
          required: true
          type: string
        - name: person
          in: query
          description: Email of the person for whom Smart Canvas will make this request on behalf of
          required: false
          type: integer
          format: int64
        - name: locale
          in: query
          description: |
            Locale to be used. Locales used the following format [language]-[country].
            If ommited, Smart Canvas will use the default locale to handle this request.
            Examples = pt-br, en-us
          required: false
          type: string
        - name: limit
          in: query
          description: |
            Maximum number of cards to retrieve. If ommited, Smart Canvas will use the default page size
            configured for this tenant.
            Example: 10
          required: false
          type: integer
          format: int32
        - name: initDate
          in: query
          description: Returns only cards with publishing date >= this parameter. Format = yyyy-mm-dd
          required: false
          type: string
          format: date
        - name: endDate
          in: query
          description: Returns only cards with publishing date <= this parameter. Format = yyyy-mm-dd
          required: false
          type: string
          format: date
        - name: category
          in: query
          description: Returns only cards that have this specific category
          required: false
          type: string
        - name: curationStrategy
          in: query
          description: Curation strategy to be used for this request. If ommited, it will uses the default strategy.
          required: false
          type: string
        - name: fields
          in: query
          description: |
            The fields to include in the response. If ommited, the response will contain all fields.
            See documentation for possible values. Example = title,summary,content.
          required: false
          type: string
        - name: embed
          in: query
          description: |
            List of related entities to include in the response. If ommited, the response will contain all entities.
            Possible values are: categoryNames, author, contentProvider, attachments, userActivities, permission, locale.
            Example = author,attachments
          type: string
      responses:
        200:
          description: A paged array of cards
          schema:
            type: array
            items:
              $ref: '#/definitions/Card'
        403:
          description: Access denied. Occurs when the access and/or auth token are not provided or they are invalid.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Card:
    properties:
      id:
        type: integer
        format: int64
        description: Unique identifier for a card in Smart Canvas
      mnemonic:
        type: string
        description: Card mnemonic. The mnemonic is used to compose the URL of the card.
      title:
        type: string
        description: Title of the card
      summary:
        type: string
        description: Summary of the card
      content:
        type: string
        description: Content of the card
      community:
        type: string
        description: The community that this card belongs to
      communityDisplayName:
        type: string
        description: Display name for the community
      createDate:
        type: integer
        format: int64
        description: Timestamp of this card creation
      updateDate:
        type: integer
        format: int64
        description: Timestamp of this card creation
      publishDate:
        type: integer
        format: int64
        description: Timestamp of this card publishing
      expirationDate:
        type: integer
        format: int64
        description: Timestamp of this card expiration
      isAutoModerated:
        type: boolean
        description: Indicates if this card is auto-moderated or not
      jsonExtendedData:
        type: string
        description: JSON data with extra information saved with this card
      preferredCanvas:
        type: string
        description: Mnemonic of the preferred Card Canvas to render this card
      categoryNames:
        type: array
        items: 
          type: string
        description: Categories (tags) associated to this card
      author:
        type: array
        items:
          $ref: '#/definitions/Author'
        description: Author of this card
      contentProvider:
        type: array
        items:
          $ref: '#/definitions/ContentProvider'
        description: Information about the original source of this card
      attachments:
        type: array
        items:
          $ref: '#/definitions/Attachment'
        description: Attachments contained in this card
      userActivities:
        type: array
        items:
          $ref: '#/definitions/UserActivity'
        description: Information about user activities such as like, share etc
      permission:
        type: array
        items:
          $ref: '#/definitions/Permission'
        description: Security model data, includes security level and user / group permissions
      locale:
        type: array
        items:
          $ref: '#/definitions/Locale'
        description: Locale and i18n information
      

  Author:
    properties:
      authorId:
        type: integer
        format: int64
        description: Author identification in Smart Canvas. That's a Person ID.
      authorDisplayName:
        type: string
        description: Author display name
      authorAlias:
        type: string
        description: Author authorAlias
      authorImageURL:
        type: string
        description: Author image URL
  
  ContentProvider:
    properties:
      providerId:
        type: string
        description: Identifies the provider, the original source of this content. Example = googleplus
      providerContentId:
        type: string
        description: Identifies this content on its original source
      providerContentURL:
        type: string
        description: Original URL of this content on its provider
      providerUserId:
        type: string
        description: The identifier of the author on the provider

  Attachment:
    properties:
      type:
        type: string
        description: Type of this attachment
      displayName:
        type: string
        description: Display name of this attachment
      contentURL:
        type: string
        description: Content URL for this attachment
      imageURL:
        type: string
        description: Image URL for this attachment
      imageType:
        type: string
        description: Type of this image
      imageHeight:
        type: integer
        format: int32
        description: Image height
      imageWidth:
        type: integer
        format: int32
        description: Image width
      originalImageURL:
        type: string
        description: Original image URL on the content provider
      fullImageHeight:
        type: integer
        format: int32
        description: Full image height
      fullImageWidth:
        type: integer
        format: int32
        description: Full image width
      embedURL:
        type: string
        format: Embed URL for this attachment
      tableau:
        type: array
        items:
          $ref: '#/definitions/Tableau'

  Tableau:
    properties:
      tableauUrl:
        type: string
        description: Tableau URL
      tableauSource:
        type: string
        description: Tableau source
      worksheetName:
        type: string
        description: Tableau worksheet name
      tableauOriginalImage:
        type: string
        description: Tableau original image
      tableauCachedImage:
        type: string
        description: Tableau cached image


  UserActivity:
    properties:
      like:
        type: boolean
        description: Indicates if the current user likes this card or not
      dislike:
        type: boolean
        description: Indicates if the current user dislikes this card or not
      pin:
        type: boolean
        description: Indicates if the current user has pinned this card or not
      likeCounter:
        type: integer
        format: int32
        description: How many likes this card has
      dislikeCounter:
        type: integer
        format: int32
        description: How many likes this card has
      pinCounter:
        type: integer
        format: int32
        description: How many likes this card has
      facebookCounter:
        type: integer
        format: int32
        description: How many shares with facebook this card has
      googleplusCounter:
        type: integer
        format: int32
        description: How many shares with Google+ this card has
      linkedinCounter:
        type: integer
        format: int32
        description: How many shares with LinkedIn this card has
      twitterCounter:
        type: integer
        format: int32
        description: How many shares with twitter this card has
      commentCounter:
        type: integer
        format: int32
        description: How many comments this card has
      likeActivityId:
        type: integer
        format: int64
        description: The internal ID of the activity with the user's like
      dislikeActivityId:
        type: integer
        format: int64
        description: The internal ID of the activity with the user's dislike
      pinActivityId:
        type: integer
        format: int64
        description: The internal ID of the activity with the user's pin

  Permission:
    properties:
      securityLevel:
        type: integer
        format: int32
      groups:
        type: array
        items:
          type: string
      users:
        type: array
        items:
          type: string

  Locale:
    properties:
      languages:
        type: array
        items:
          type: string
      region:
        type: array
        items:
          type: string
      geoCode:
        type: string
        description: Geo code from where this card was created
      address:
        type: string
        description: Address from where this card was created
      placeName:
        type: string
        description: Name of the place from where this card was created

  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
