# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Theme API
  description: |
    This is a set of services that allows administrators to configure and change Smart Canvas
    look-and-feel using APIs. 
  contact:
    name: Smart Canvas Dev Team
    url: http://www.smartcanvas.com
    email: dev@smartcanvas.com
  version: "1.0.0"
# the domain of the service
host: api.smartcanvas.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /theme/v1
produces:
  - application/json
paths:
  /colors:
    put:
      summary: Define or change Smart Canvas colors
      operationId: defineColors
      tags:
        - Colors
      description: |
        Allows administrators to redefine the color palette of Smart Canvas
      parameters:
        - name: x-client-id
          in: header
          description: Access token required to make this API call
          required: true
          type: string 
        - name: x-access-token
          in: header
          description: |
            If this request is being made on behalf of a specific person (personId != null), this parameter
            must be provided to avoid getting FORBIDDEN errors.
          required: true
          type: string
        - name: x-suppress-response-codes
          in: header
          description: |
            If 'true', the HTTP response is always 200. Default = 'false'
          required: false
          type: boolean
          default: false
        - name: color
          in: query
          description: |
            | Color | Description |
            |-------|-------------|
            | color.primary | primary palette mnemonic |
            | color.accent | accent palette mnemonic |
            | color.warn | warn palette mnemonic |
          required: true
          type: string
        - name: value
          in: query
          description: The value of the color. Example = 0FAB7E
          required: true
          type: string
      responses:
        200:
          description: The definition was changed correctly
        400:
          description: Bad request. The request made was not ok. Invalid parameter values or missing ones.
          schema:
            $ref: '#/definitions/ErrorWithFields'
        401:
          description: Unauthorized. The request requires a user authentication but the access token or auth token was not found.
          schema:
            $ref: '#/definitions/BasicError'
        403: 
          description: Forbidden. The user (auth token) doesn't have the proper scope to access that information.
          schema:
            $ref: '#/definitions/BasicError'
        500:
          description: Internal server error. something is going wrong inside Smart Canvas.
          schema:
            $ref: '#/definitions/BasicError'

  /buckets:
    put:
      summary: Creates or change a Bucket configuration 
      operationId: defineBucket
      tags:
        - Buckets
      description: |
        Allows administrators to create of redefine the behavior of a specific bucket
      parameters:
        - name: x-client-id
          in: header
          description: Access token required to make this API call
          required: true
          type: string 
        - name: x-access-token
          in: header
          description: |
            If this request is being made on behalf of a specific person (personId != null), this parameter
            must be provided to avoid getting FORBIDDEN errors.
          required: true
          type: string
        - name: x-suppress-response-codes
          in: header
          description: |
            If 'true', the HTTP response is always 200. Default = 'false'
          required: false
          type: boolean
          default: false
        - name: mnemonic
          in: query
          description: Mnemonic that identifies the bucket inside Smart Canvas
          required: true
          type: string
        - name: contextPattern
          in: query
          description: Context pattern (regex) to which this bucket should be visible. Example = /highlights
          required: true
          type: string
        - name: pos
          in: query
          description: |
            The position that this bucket should be placed. First position = 1. 
            If ommited, Smart Canvas will append to the end of the context.
          type: string
        - name: queryStrategy
          in: query
          description: Query mnemonic to be used to get content for this bucket.
          required: true
          type: string
        - name: title
          in: query
          description: Bucket title. This value supports i18n.
          required: false
          type: string
        - name: titleFont
          in: query
          description: Font used to render the bucket title.
          required: false
          type: string
        - name: titleAlign
          in: query
          description: Bucket title alignment (center, right or left). Default = right.
          required: false
          type: string
        - name: titleColor
          in: query
          description: Title color (example = 00FAB3)
          required: false
          type: string
        - name: bgcolor
          in: query
          description: Background color (example = 00FAB3)
          required: false
          type: string
        - name: bgimage
          in: query
          description: Background image (URL) for this bucket
          required: false
          type: string
        - name: bucketCanvas
          in: query
          description: Bucket Canvas mnemonic to render this bucket
          required: false
          type: string
        - name: highlightFirstCard
          in: query
          description: If this bucket should highlight the first card (true or false). Default = false.
          required: false
          type: string
        - name: limit
          in: query
          description: |
            Maximum number of cards to be shown in this bucket. If not set, Smart Canvas will incremental load the content.
            If set and the number of cards exceeds this value, Smart Canvas will render the "See More" button.
          required: false
          type: integer
          format: int32
      responses:
        200:
          description: The definition was changed correctly
        400:
          description: Bad request. The request made was not ok. Invalid parameter values or missing ones.
          schema:
            $ref: '#/definitions/ErrorWithFields'
        401:
          description: Unauthorized. The request requires a user authentication but the access token or auth token was not found.
          schema:
            $ref: '#/definitions/BasicError'
        403: 
          description: Forbidden. The user (auth token) doesn't have the proper scope to access that information.
          schema:
            $ref: '#/definitions/BasicError'
        500:
          description: Internal server error. something is going wrong inside Smart Canvas.
          schema:
            $ref: '#/definitions/BasicError'

  /tabs:
    put:
      summary: Creates or redefine a tab
      operationId: defineMenus
      tags:
        - Tabs
      description: |
        Allows administrators to create or redefine a menu item in the toolbar
      parameters:
        - name: x-client-id
          in: header
          description: Access token required to make this API call
          required: true
          type: string 
        - name: x-access-token
          in: header
          description: |
            If this request is being made on behalf of a specific person (personId != null), this parameter
            must be provided to avoid getting FORBIDDEN errors.
          required: true
          type: string
        - name: x-suppress-response-codes
          in: header
          description: |
            If 'true', the HTTP response is always 200. Default = 'false'
          required: false
          type: boolean
          default: false
        - name: locale
          in: query
          description: |
            The locale to which this tab should be created / redefined. If ommited, the default locale will be used.
          required: false
          type: string
        - name: label
          in: query
          description: The label for this tab. 
          required: true
          type: string
        - name: pos
          in: query
          description: |
            The position that this tab should be placed. First position = 1. If ommited, Smart Canvas will append to the end of the tabs.
          required: false
          type: integer
          format: int32
        - name: q
          in: query
          description: The query (search term) associated with this tab.
          required: true
          type: string
      responses:
        200:
          description: The definition was changed correctly
        400:
          description: Bad request. The request made was not ok. Invalid parameter values or missing ones.
          schema:
            $ref: '#/definitions/ErrorWithFields'
        401:
          description: Unauthorized. The request requires a user authentication but the access token or auth token was not found.
          schema:
            $ref: '#/definitions/BasicError'
        403: 
          description: Forbidden. The user (auth token) doesn't have the proper scope to access that information.
          schema:
            $ref: '#/definitions/BasicError'
        500:
          description: Internal server error. something is going wrong inside Smart Canvas.
          schema:
            $ref: '#/definitions/BasicError'

  /fab-settings:
    put:
      summary: Float Action Button Settings
      operationId: defineFloatActionButton
      tags:
        - Buttons
      description: |
        Administrates the settings and behavior of the FAB (float action button) on Smart Canvas
      parameters:
        - name: x-client-id
          in: header
          description: Access token required to make this API call
          required: true
          type: string 
        - name: x-access-token
          in: header
          description: |
            If this request is being made on behalf of a specific person (personId != null), this parameter
            must be provided to avoid getting FORBIDDEN errors.
          required: true
          type: string
        - name: x-suppress-response-codes
          in: header
          description: |
            If 'true', the HTTP response is always 200. Default = 'false'
          required: false
          type: boolean
          default: false
        - name: locale
          in: query
          description: |
            The locale to which this action should be performed. If ommited, the default locale will be used.
          required: false
          type: string
        - name: contextPattern
          in: query
          description: Context to which this action should be available. Example = /highlights
          required: true
          type: string
        - name: pos
          in: query
          description: |
            The position that this button should be placed. First position = 1. 
            If ommited, Smart Canvas will append to the end of the button list.
          type: string
        - name: target
          in: query
          description: |
            self or blank (action performed in the same window or a new one)
          required: false
          type: string
        - name: href
          in: query
          description: URI to be triggered
          required: true
          type: string
        - name: roles
          in: query
          description: |
            Comma-separated list of roles that will be allowed to create a new card.
            Possible values are = moderator, publisher, admin, all. If ommited, the default is "moderator, publisher".
          required: false
          type: string
        - name: label
          in: query
          description: |
            Label to trigger this action. This value supports i18n.
          required: false
          type: string
        - name: meta
          in: query
          description: JSON object with meta information relevant to the client.
          required: false
          type: string
      responses:
        200:
          description: The definition was changed correctly
        400:
          description: Bad request. The request made was not ok. Invalid parameter values or missing ones.
          schema:
            $ref: '#/definitions/ErrorWithFields'
        401:
          description: Unauthorized. The request requires a user authentication but the access token or auth token was not found.
          schema:
            $ref: '#/definitions/BasicError'
        403: 
          description: Forbidden. The user (auth token) doesn't have the proper scope to access that information.
          schema:
            $ref: '#/definitions/BasicError'
        500:
          description: Internal server error. something is going wrong inside Smart Canvas.
          schema:
            $ref: '#/definitions/BasicError'

definitions:

  BasicError:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string

  ErrorWithFields:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
